body {
  background-color: #A47E3B;
 
}

body, option {
  font-family: 'Alkatra', cursive;  
  
}



select {
  font-family: 'Alkatra', cursive;
  color: #820000;
  width: 200px;
}

#map {
  height: 90%;
}

html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 80%;
      width: 80%;
    }

    #viewDiv {
      line-height: 200px;
    }


/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

#map {
  height: 100%;
}


/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content p {
  font-size: 20px;
}

li {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#scroll {
  margin:4px, 4px;
  padding:4px;
  width: 200px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}



#submit-button {
  background-color: #820000;
}

#past-search {
  border: solid black 1px;
}

