body, option {
  font-family: 'Alkatra', cursive;
}



select {
    font-family: 'Alkatra', cursive;
    color: green;
    width: 200px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content p {
  font-size: 20px;
}

li {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

